Dataset is downloaded from Kaggle

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path='/content/drive/MyDrive/Water Quality/ground_water_quality_2020_post.csv' #path copied

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv(path)
df #dataset loaded

,sno,district,mandal,village,lat_gis,long_gis,gwl,season,Unnamed: 8,pH,...,SO4,Na,K,Ca,Mg,T.H,SAR,Classification,RSC meq / L,Classification.1
0,1,ADILABAD,Adilabad,Adilabad,19.668300,78.524700,7.10,Post-monsoon 2020,NaN,8.01,...,33.00,171.00,9.00,24.0,72.930,359.876645,3.919146,C3S1,0.602467,P.S.
1,2,ADILABAD,Bazarhatnur,Bazarhatnur,19.458888,78.350833,3.35,Post-monsoon 2020,NaN,7.77,...,13.50,70.00,3.00,16.0,53.482,259.909539,1.887814,C3S1,-0.198191,P.S.
2,3,ADILABAD,Gudihatnoor,Gudihatnoor,19.525555,78.512222,5.05,Post-monsoon 2020,NaN,8.21,...,10.50,65.00,3.00,16.0,48.620,239.917763,1.824544,C2S1,0.001645,P.S.
3,4,ADILABAD,Jainath,Jainath,19.730555,78.640000,2.10,Post-monsoon 2020,NaN,8.3,...,7.25,31.00,1.00,16.0,29.172,159.950658,1.065714,C2S1,-0.199013,P.S.
4,5,ADILABAD,Narnoor,Narnoor,19.495665,78.852654,1.38,Post-monsoon 2020,NaN,7.67,...,14.50,129.00,2.00,32.0,5.000,82.878289,6.160862,C2S1,3.742434,U.S.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,375,YADADRI,S.Narayanpur,S.Narayanpur,17.144719,78.860010,9.90,Post-monsoon 2020,NaN,7.8,...,33.00,169.30,2.60,160.0,97.240,799.835526,2.602728,C4S1,-8.596711,P.S.
364,376,YADADRI,Thurkapally,Gandamalla,17.733101,78.853831,5.74,Post-monsoon 2020,NaN,8.26,...,33.00,211.30,43.30,48.0,116.688,599.802632,3.751176,C3S1,-3.396053,P.S.
365,377,YADADRI,Valigonda,T. somaram,17.399953,78.952290,1.72,Post-monsoon 2020,NaN,8.77,...,15.00,60.44,3.04,80.0,53.482,419.909539,1.282386,C3S1,-4.398191,P.S.
366,378,YADADRI,Valigonda,Vemulakonda,17.347782,79.143433,1.65,Post-monsoon 2020,NaN,7.76,...,109.00,465.20,3.30,400.0,92.378,1379.843750,5.444988,C4S1,-21.996875,P.S.
367,379,YADADRI,Y.Gutta,Mallapuram,17.633555,78.911638,4.92,Post-monsoon 2020,NaN,8.13,...,34.00,170.70,5.60,152.0,97.240,779.835526,2.657689,C4S1,-11.596711,P.S.

In [ ]:
df.info() #dataset information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sno               368 non-null    int64
 1   district          368 non-null    object
 2   mandal            368 non-null    object
 3   village           368 non-null    object
 4   lat_gis           368 non-null    float64
 5   long_gis          368 non-null    float64
 6   gwl               365 non-null    float64
 7   season            368 non-null    object
 8   Unnamed: 8        0 non-null      float64
 9   pH                368 non-null    object
 10  E.C               368 non-null    int64
 11  TDS               368 non-null    float64
 12  CO3               368 non-null    float64
 13  HCO3              368 non-null    int64
 14  Cl                368 non-null    int64
 15  F                 368 non-null    float64
 16  NO3               368 non-null    float64
 17  SO4               368 non-null    float64
 18  Na                368 non-null    float64
 19  K                 368 non-null    float64
 20  Ca                368 non-null    float64
 21  Mg                368 non-null    float64
 22  T.H               368 non-null    float64
 23  SAR               368 non-null    float64
 24  Classification    368 non-null    object
 25  RSC  meq  / L     368 non-null    float64
 26  Classification.1  368 non-null    object
dtypes: float64(16), int64(4), object(7)
memory usage: 77.8+ KB

Removed Sno,Unamed & Season Columns

In [ ]:
df.drop("sno",axis='columns',inplace=True)

In [ ]:
df.drop("Unnamed: 8",axis='columns',inplace=True)

In [ ]:
df.drop("season",axis='columns',inplace=True)

In [ ]:
df.info() #dataset information after removing columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   district          368 non-null    object
 1   mandal            368 non-null    object
 2   village           368 non-null    object
 3   lat_gis           368 non-null    float64
 4   long_gis          368 non-null    float64
 5   gwl               365 non-null    float64
 6   pH                368 non-null    object
 7   E.C               368 non-null    int64
 8   TDS               368 non-null    float64
 9   CO3               368 non-null    float64
 10  HCO3              368 non-null    int64
 11  Cl                368 non-null    int64
 12  F                 368 non-null    float64
 13  NO3               368 non-null    float64
 14  SO4               368 non-null    float64
 15  Na                368 non-null    float64
 16  K                 368 non-null    float64
 17  Ca                368 non-null    float64
 18  Mg                368 non-null    float64
 19  T.H               368 non-null    float64
 20  SAR               368 non-null    float64
 21  Classification    368 non-null    object
 22  RSC  meq  / L     368 non-null    float64
 23  Classification.1  368 non-null    object
dtypes: float64(15), int64(3), object(6)
memory usage: 69.1+ KB

Identifying Null Values

In [ ]:
df.isnull().sum() #checking null values

district            0
mandal              0
village             0
lat_gis             0
long_gis            0
gwl                 3
pH                  0
E.C                 0
TDS                 0
CO3                 0
HCO3                0
Cl                  0
F                   0
NO3                 0
SO4                 0
Na                  0
K                   0
Ca                  0
Mg                  0
T.H                 0
SAR                 0
Classification      0
RSC  meq  / L       0
Classification.1    0
dtype: int64

In [ ]:
df['gwl']=df['gwl'].fillna(df['gwl'].mean()) #replacing NaN with mean value

In [ ]:
df.isnull().sum() #checking null values after replacing NaN with mean value

district            0
mandal              0
village             0
lat_gis             0
long_gis            0
gwl                 0
pH                  0
E.C                 0
TDS                 0
CO3                 0
HCO3                0
Cl                  0
F                   0
NO3                 0
SO4                 0
Na                  0
K                   0
Ca                  0
Mg                  0
T.H                 0
SAR                 0
Classification      0
RSC  meq  / L       0
Classification.1    0
dtype: int64

In [ ]:
df['pH']=df['pH'].replace('8..05',8.05) #replacing string value with float value
df['pH']=df['pH'].astype('float')

In [ ]:
df['pH'].dtypes

dtype('float64')

In [ ]:
df['gwl'].min() #checking minimum value in gwl column

0.17

In [ ]:
df['gwl'].max() #checking maximum value in gwl column

36.55

In [ ]:
import numpy as np

In [ ]:
df['RSC  meq  / L'].min() #checking minimum value in RSC  meq  / L column

-59.58453947

In [ ]:
df['RSC  meq  / L'].max() #checking maximum value in RSC  meq  / L column

18.20082237

In [ ]:
df['RSC  meq  / L'].isnull().sum() #checking null values in RSC  meq  / L column

0

In [ ]:
df['RSC  meq  / L']=df['RSC  meq  / L'].astype('float') #converting object type to float type

In [ ]:
df['RSC  meq  / L'].dtype #checking data type of RSC  meq  / L column

dtype('float64')

In [ ]:
df['RSC  meq  / L']=df['RSC  meq  / L'].fillna(df['RSC  meq  / L'].mean()) #replacing NaN with mean value

In [ ]:
bins=[-59.58453947,1.25,2.50,18.20082237]
names=[1,2,3] # Safe,Marginal,Unsuitable
df['RSC  meq  / L'] = pd.cut(df['RSC  meq  / L'], bins, labels=names) #converting RSC  meq  / L column into categorical column

In [ ]:
df['RSC  meq  / L'].value_counts()

RSC  meq  / L
1    323
3     24
2     21
Name: count, dtype: int64

Dropping Unnecessary columns

In [ ]:
df.drop("Ca",axis='columns',inplace=True)

In [ ]:
df.drop("Mg",axis='columns',inplace=True)

In [ ]:
df.drop("CO3",axis='columns',inplace=True)

In [ ]:
df.drop("HCO3",axis='columns',inplace=True)

In [ ]:
df.drop("F",axis='columns',inplace=True)

In [ ]:
df.drop("K",axis='columns',inplace=True)

In [ ]:
df.drop("Na",axis='columns',inplace=True)

In [ ]:
df.drop("SO4",axis='columns',inplace=True)

In [ ]:
df.drop("lat_gis",axis='columns',inplace=True)

In [ ]:
df.drop("long_gis",axis='columns',inplace=True)

In [ ]:
df.drop("Cl",axis='columns',inplace=True)

In [ ]:
df.drop("NO3 ",axis='columns',inplace=True)

In [ ]:
df.columns #columns after dropping unnecessary columns

Index(['district', 'mandal', 'village', 'gwl', 'pH', 'E.C', 'TDS', 'T.H',
       'SAR', 'Classification', 'RSC  meq  / L', 'Classification.1'],
      dtype='object')

In [ ]:
x=df[['gwl','pH','E.C','TDS','T.H','SAR']]
y=df[['RSC  meq  / L']] #independent and dependent variables

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV #for hyperparameter tuning

In [ ]:
param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 5, 10, 15],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

grid_search = GridSearchCV(estimator=DecisionTreeClassifier(), param_grid=param_grid, cv=5, scoring='accuracy') #creating a grid search object
grid_search.fit(x, y) #fitting the model

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [None, 5, 10, 15],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10]},
             scoring='accuracy')

In [ ]:
grid_search.best_params_ #best parameters for the model

{'criterion': 'gini',
 'max_depth': 10,
 'min_samples_leaf': 2,
 'min_samples_split': 10}

In [ ]:
accuracy=grid_search.best_score_ #best accuracy

In [ ]:
accuracy

0.9129951869677898

In [ ]:
from sklearn.model_selection import cross_val_score, KFold

num_folds = 5
kf = KFold(n_splits=num_folds, shuffle=True, random_state=20) #cross validation

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
cv =cross_val_score(DecisionTreeClassifier(),x,y,cv=4,scoring='accuracy') #cross validation

In [ ]:
cv

array([0.91304348, 0.85869565, 0.92391304, 0.86956522])

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=2, criterion='entropy')

In [ ]:
print(clf)

NameError: name 'clf' is not defined

In [ ]:
model=clf.fit(x_train, y_train)

<ipython-input-338-f7936e626ada>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model=clf.fit(x_train, y_train)

In [ ]:

Y_pred=model.predict(x_test)

In [ ]:
Y_pred[0:5]

array([3, 1, 1, 1, 1])

In [ ]:
y_test[0:5]

    RSC  meq  / L
207             3
114             1
251             1
44              1
206             1

In [ ]:

from sklearn import metrics

print (metrics.accuracy_score(y_test, Y_pred))

0.8918918918918919